/* =================================
  Home
==================================== */
.container {
}

.transparent-overlay {
  background-image: linear-gradient(to top, rgb(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
}

.blog-post-card:hover {
  -webkit-filter: brightness(105%); 
}

.blog-post-card:hover .transparent-overlay{
  background-image: linear-gradient(to top, rgb(0, 0, 0, 0.1), rgba(0, 0, 0, 0));

}

.text-graphite-black {
  color: rgba(70,70,70,1) !important;
}

.text-softer-black {
  color: rgba(100,100,100,1) !important;
}

.text-easy-gray {
  color: rgba(150,150,150,1) !important;
}

.text-easy-grey {
  color: rgba(150,150,150,1) !important;
}

.splash {
  margin-bottom: auto;
}

.testimonial-quotation{

  /* font-family: "Times New Roman", Times, serif; */
  font-weight: 300;
}

.testimonial-quotation:before {
  /* content: open-quote; */
  display: inline;
  height: 0;
  line-height: 0;
  left: -10px;
  position: relative;
  top: 10px;
  color: #ccc;
  font-size: 3em;
}
.testimonial-quotation::after {
  /* content: close-quote; */
  display: inline;
  height: 0;
  line-height: 0;
  left: 10px;
  position: relative;
  top: 20px;
  color: #ccc;
  font-size: 3em;
}

.testimonial-block__quote-cube {
  display: flex;
  min-width: 5rem;
  min-height: 5rem;

  max-width: 5rem;
  max-height: 5rem;

  width: 5rem;
  height: 5rem;

  background: linear-gradient(90deg, #FFCAE1 0%, #FFADD0 68.71%, #FF9EC8 100%);

  overflow: hidden;
  border-radius: 1rem;

  text-align: center;

  display: flex;
  align-items: center;
}

.testimonial-block__quote-cube-purple {
  background: linear-gradient(90deg, #DACFFF 0%, #BBA8FF 100%);

}

.testimonial-block__quote-cube-orange {
  background: linear-gradient(90deg, #FFD2CB 0%, #FFBCB1 100%);


}

.testimonial-block__quote-cube img{
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
}



.hero__top-left-color-blur {
  box-shadow: -250px -150px 300px 200px #95C7FF;
  ;
}

.hero__bottom-right-color-blur {
  box-shadow: 375px -100px  300px 200px #FACD49;
}

.hero__image {
  border-radius: 1rem;
}

.hero__cta-button {
  background: rgba(0, 101, 213, 1);
  color:white;
  border-radius: 100px;

  padding: 8px 16px 8px 16px;  
  text-decoration: none;
}

.hero__cta-button:hover {
  color: white;
  background: rgba(0, 101, 213, .8);
  text-decoration: none;
}

.testimonial-block {

  padding-top: 100px;
  padding-bottom: 100px;

  background-image: radial-gradient(circle at top left,rgba(213, 231, 237, 0.75) , rgba(173,216,230,25%) 50%, lightblue 80%, rgba(255, 255, 255, 1) 100%),
   radial-gradient(circle at bottom left, rgba(144,238,144,75%), white 50%, white 80%, rgba(255, 255, 255, 1) 100%);


}

.testimonial-block blockquote {
  background-color: white;
  padding: 1.5rem;
  border-radius: 1rem;
}

.testimonial-block__flex-gap {
  gap: 20px;
}

.testimonial-block__source {
  display: flex;
  font-weight: bold;
  font-size: 1.25rem;
  padding-left:1rem;  
  align-items: center;
  flex-grow: 1;
}

.testimonial-block__source-name {
  line-height: 1.375rem;
}

.testimonial-block__source-country {
  font-weight: 300;font-size: 1rem;
}

.premium-block {
  padding-top: 100px;
  padding-bottom: 100px;

}
.premium-block__flex {
  gap: 1rem;
}

.premium-block h2 {
  font-weight: 700;
}

.premium-card {
  border-radius: 1rem;
  background-color: gray;
  color: white;
  padding-left: 1.5rem;
  padding-right: 1.5rem;

  padding-top: 1.5rem;
  padding-bottom: 1.5rem;

  max-width: 250px;
  min-height: 300px;
}

.premium-card__alternate {
  background-color: lightgrey;
  color: black;
}

.premium-card__title {
  /* text-align: center; */
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.4rem;
  margin-bottom: 1.5rem;
}

.premium-card__content {
  font-size: 1rem;
  font-weight: 400;
  /* line-height: 1rem; */
}

.sample-lessons-block {
  padding-top: 0px;
}

.sample-lessons-block__flex-gap {
  gap: 0.75rem;
}

.sample-lessons-block__lesson-card {
  max-width: 200px;
  box-shadow: 0 .25rem 0.25rem rgba(0,0,0, .15);;
  z-index: 3;
}

.sample-lesson-block__lesson-card-first {
  transform: rotate(-10deg);
  /* z-index: -4; */
}

.sample-lesson-block__lesson-card-second {
  transform: rotate(-5deg);
  /* z-index: -3; */

}

.sample-lesson-block__lesson-card-third {
  transform: rotate(6deg);
  /* z-index: -2; */

}

.sample-lesson-block__lesson-card-fourth {
  transform: rotate(13deg);
}

.sample-lesson-block__lesson-card-fifth {
  transform: rotate(-8deg);
}

.flag-stripe-block {
  width: 66%; /* Set the width to fill the container */
  height: 8px; /* Set the height of the stripe */
  position: relative;
  margin-left: auto;
  margin-right: auto;

}

.flag-stripe-block__blue {
  position: absolute;
  width: 100%;
  height: 50%; /* Each color takes up half of the stripe's height */
  background-color: #95C7FF; /* Blue */
  top: 0;
}

.flag-stripe-block__yellow {
  position: absolute;
  width: 100%;
  height: 50%; /* Each color takes up half of the stripe's height */
  background-color: /*#95C7FF*/ #FACD49; /* Yellow */
  bottom: 0;
}

.sample-lessons-block-sticker {
  display: inline-block;  font-weight: 700; font-size:1.5rem; padding: 1rem; color: white; z-index: 9999 !important; border-radius: 0.125rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;

}

.sample-lessons-block-sticker-1 {
  transform: rotate(-2deg) translate(-4rem, 0.8375rem);
  background: #FF62B3; 
}

.sample-lessons-block-sticker-2 {
  transform: rotate(3deg) translate(0, 1.625rem);  
  background:  #00B8A2;
}

.sample-lessons-block-sticker-3 {
  transform: rotate(-2deg) translate(15.375rem, 0.375rem);  
  background: rgba(0, 101, 213, 1);
}

@media (min-width: 700px) {
  .sample-lessons-block-sticker {
    flex-grow: 1;
    text-align: center;;
  }

  .sample-lessons-block-sticker-2 {
    flex-grow: 1;
    text-align: center;
    transform: rotate(-2deg) translate(0,0.75rem);
  }
}

.blog-post-card {
  min-height: 200px; 
  border: 0; 
  border-radius: 0.375rem 0.375rem 0.375rem 0.375rem; 
  padding: 0 !important; 
  background-size: cover;
}

.blog-post-card:hover {
  text-decoration: none;
}

@media (max-width: 600px) {
  .sample-lessons-block-sticker-1 {
    transform: rotate(-2deg) translate(0rem, 0.8375rem);
    background: #FF62B3; 
  }
  

  .sample-lesson-block__lesson-card-fourth, .sample-lesson-block__lesson-card-fifth {
    display: none;
  }

  .hero__bottom-right-color-blur {
    box-shadow: 300px -300px  300px 200px #FACD49;
  }

  .hero__top-left-color-blur {
    box-shadow: -50px 0px 300px 200px #95C7FF;
    ;
  }

  .sample-lessons-block-sticker {
    max-width: 350px;;
  }

  .sample-lesson-block__lesson-card-first {
    transform: rotate(3deg);
    margin-top: 2rem;
    /* z-index: -4; */
  }

  .sample-lessons-block {
    padding-top: 0.5rem;
  }

  .testimonial-block {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

}